<%= form_for @image, :html => {:multipart => true} do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.file_field :image %>
  </div>
  <p>Please make sure you are only uploading a
    <strong>JPEG</strong>,
    <strong>JPG</strong>,
    <strong>PNG</strong>, or
    <strong>GIF</strong>. Otherwise your file will not upload.</p>
  <%= hidden_field_tag :image_user_id, current_user.id %>
  <p><%= f.submit "Upload Image" %></p>
<% end %>

