<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <div><%= link_to image_tag(@image.image_url(:thumb)), @image.image_url %></div>
  <p>Highlight text below and copy it:<br />
    <input type="text" class="span5" name="image_url" value="<%= @image.image_url %>" readonly>
  </p>
  <p><%= @image.image_url(:thumb) %></p>
</p>

<p>
  <b>User:</b>
  <%= @image.user.email %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
